body {
    margin: 0;
}

h1 {
    text-align: center;
}

#gameContainer {
    width: 60vw;
    height: 60vh;
    /* margin: 30px auto 0 auto; */
    background-color: lightblue;
    float: right;
    margin-right: 20vw;
}

.gameCells {
    border: 1px solid black;
    text-align: center;
    font-size: 2em;
    float: left;
    box-sizing: border-box;
}

#userContainer {
    height: 18vh;
    width: 51vh;
    /*background-color: black;*/
    margin: 30px auto 0 auto;
}

.players {
    width: 50%;
    height: 100%;
    border: 1px solid black;
    text-align: center;
    font-size: 2vw;
    box-sizing: border-box;
    float: left;
    background-color: red;
}

div .selected {
    background-color: green;
}

#radioButtonContainer {
    width: 8vw;
    margin: 10px;
}

#reset, #newGame {
    margin: 10px auto;
    display: inline-block;
}

.gameType {
    display: block;
}

label {
    display: inline;
}

